<div class="container text-center">
  <h1 class="text-white">
    <a [routerLink]="['']">crypto rankings</a> | <a [routerLink]="['/bitcoin-stats']">btc price chart</a>
  </h1>
  <hr class="bg-white">
  <h4 class="text-white">
    market cap: <span class="btcBlue font-weight-bold">{{ btcMarketCap.total_market_cap | currency: 'USD':'symbol':'1.0-0' }}</span>
     | BTC Dominance: <span class="btcBlue font-weight-bold">{{ btcMarketCap.btc_dominance * 0.01 | percent: '1.1-2' }}</span>
     | active cryptocurrencies: <span class="btcBlue font-weight-bold">{{ btcMarketCap.active_cryptocurrencies }}</span>
     </h4>
     <hr class="text-white">
     <router-outlet></router-outlet>
    </div>
